/**/
:root {
	--orange: #ed796c; 
	--black: #191919;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color:var(	--orange);
}

:focus {
	outline: 0;
}

.section{
	position: relative;
	overflow: hidden;
	font-size: 0;
}

.section.black{
	color:white;
	background-color: var(--black);
	overflow: hidden;
}

.section.dark{
	background-color: black;
	color:white;
}

.section.grey{
	background-color: #f5f5f5;
}
.section.cold{
	background-color: #dedddb;
}

.section.recycle{
	background-color: #f4f2ed;
	background-image: url('../img/aderma/recycling.jpg');
	background-repeat: repeat; 
	color:var(--black);
}

.text_center{
	text-align: center;
}

.wrapper{
	width: 80%;
	max-width: 1200px;
	margin: 0px auto;
	padding: 100px 0 80px;
	text-align: left;
	position: relative;
	z-index: 2;
}

.color .wrapper{
	padding: 20px 0 80px;
}

.last{
	padding: 200px 0 320px;
	transition: all .5s;
	position: relative;
}



.last.tr{
	padding: 50px 0 70px;
	transition: all .5s;
}

.infos{
	width: 100%;
	-webkit-column-count:3; /* Opera, Safari, Google Chrome */
	-moz-column-count: 3; /* Firefox */
	column-count: 3; /* Internet Explorer */

	-webkit-column-gap: 100px;
	-moz-column-gap: 100px;
	column-gap: 100px;
}

.info{
	break-inside: avoid-column;
	line-height: 18px;
	margin-bottom: 30px;
	min-height: 20px;
	position: relative;
}

.jump{
	break-before: column;
}

.info span{
	display: block;
}

.info_label{
	font-size: 10px;
	text-transform: uppercase;
	overflow: hidden;
	position: relative;
}

.info_body{
	font-size: 21px;
	font-weight: 600;
	letter-spacing: -.3px;
	line-height: 24px;
}

.role{
	font-size: 12px;
	font-weight: 300;
	display: inline !important;
	letter-spacing: 0;
}

.row{
	margin: 50px 0;
}

.col{	
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	min-height: 50px;
}

.parallax{
	overflow: visible;
}

.col-1{
	width: 8%;
}
.col-2{
	width: 16%;
}
.col-3{
	width: 24%;
}
.col-4{
	width: 32%;
}
.col-5{
	width: 40%;
}
.col-6{
	width: 48%;
}
.col-7{
	width: 56%;
}
.col-8{
	width: 64%;
}
.col-9{
	width: 72%;
}
.col-10{
	width: 80%;
}
.col-11{
	width: 88%;
}
.col-12{
	width: 100%;
}

.left-1{
	margin-left: 8%; 
}

.left-2{
	margin-left: 16%; 
}

.left-3{
	margin-left: 24%; 
}

.left-4{
	margin-left: 32%; 
}

.left-5{
	margin-left: 40%; 
}

.left-6{
	margin-left: 48%; 
}

.left-7{
	margin-left: 56%; 
}

.left-8{
	margin-left: 64%; 
}

.left-9{
	margin-left: 72%; 
}

.left-10{
	margin-left: 80%; 
}

.left-11{
	margin-left: 88%; 
}

.top50{
	margin-top: 50px;
}

.top100{
	margin-top: 100px;
}

.top150{
	margin-top: 150px;
}



.top200{
	margin-top: 200px;
}

.top300{
	margin-top: 300px;
}

.top400{
	margin-top: 400px;
}
.top600{
	margin-top: 600px;
}


.top800{
	margin-top: 800px;
}
.top1000{
	margin-top: 1000px;
}
.top1200{
	margin-top: 1200px;
}
.top1400{
	margin-top: 1400px;
}

.top1700{
	margin-top: 1700px;
}

.top1800{
	margin-top: 1800px;
}

.top2000{
	margin-top: 2000px;
}

.top2400{
	margin-top: 2400px;
}
.top2600{
	margin-top: 2600px;
}

.top2800{
	margin-top: 2800px;
}

.top3100{
	margin-top: 3100px;
}
.top3400{
	margin-top: 3400px;
}

.top-120{
	margin-top: -120px;
}
filter

.top-240{
	margin-top: -240px;
}

.top-360{
	margin-top: -360px;
}

.top-540{
	margin-top: -540px;
}

.index-top{
	z-index: 2000;
}

.ipad{
	background-size: contain;
	background-image: url('../img/aderma/ipad.png');
	background-repeat: no-repeat;
}


.pad-50{
	padding: 50px;
}

.anim{
	transition: all 1s;
}

.anim-delay-1{
	transition-delay:.1s;
}

.anim-delay-2{
	transition-delay:.2s;
}

.anim-delay-3{
	transition-delay:.3s;
}

.fade-up{
	opacity: 0;
	margin-top: 100px !important;
}

.fade{
	opacity: 0;
}

.title{
	font-size: 28px;
	position: absolute;
	top:20px;
}

.text{
	font-size: 14px;
	line-height: 28px;
	font-weight: 300;
	margin-top: 40px;
}

.introduction{
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	margin-top: 40px;
}

.full{
	width: 100%;
	position: relative;
	max-width: 1600px;
}

.big{
	width: 100%;
	position: relative;
}

.between{
	width: 100%;
	position: relative;
	height: 600px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}



.galery{
	width: 100%;
	height: 100%;
	z-index: 8000;
	background-color: rgba(25,25,25,0);
	transition: background-color .3s;
	top: 200%;
}

.galery .swiper-container{
	width: 100%;
	height: 100%;
	z-index: 20;
	position: absolute;
}

.galery .swiper-pagination-bullet {
	background: white !important;

}

.swiper-button-disabled{
	display: none;
}

.galery img{
	position: absolute;
	height:90%;
	cursor: pointer;
}



.close_gal{
	position: absolute;
	left: 50%;
	top: 8px;
	margin-left: -20px;
	cursor: pointer;
	z-index: 30;
	display: block;
}

.sony_logo{
	margin-top: 30px;
}

.sony_logo img{
	width: 24%;
	vertical-align: top;
}

.clickable,.clickable-video,.link{
	cursor: pointer;
}

.clickable-video{
	line-height: 0;
}


.add_img{
	display: none;
}

.transit{
	height: 200%;
	width: 100%;
	position: fixed;
	background-color: var(--black);
	overflow: hidden;
	z-index: 1000;
	display: none;
}

.transit_anim{
	height: 100%;
	width: 100%;
	top:100%;
	position: fixed;
	background-color: var(--black);
	z-index: 10001;
	overflow-y: scroll;
}


.cache-left{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: var(--black);
	z-index: 1000;
	margin-left: -101%;
}
.black .cache-left{
	background-color: white;
}
.dark .cache-left{
	background-color: black;
}


.controls{
	z-index: 100;
	pointer-events: none;
}

.controls svg {
	-webkit-filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.15));      
	filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.15));  
}


.label{
	position: absolute;
}

.anim_label{
	overflow: hidden;
	position: relative;
	height: 14px;
}

.anim_title{
	overflow: hidden;
	position: relative;
	height: 28px;

}

.anim_title span,.anim_label span{
	opacity: 0;
}

.big_letter{
	font-size: 350px;
	font-weight: 700;
	color:#272727;
	margin-top:-10px;
}

.cta_inside{
	z-index: 1001;
	cursor: pointer;
}

.last_letter ,.last_letter2{
	z-index: 1000;
	margin-left: 0px;
} 


.cta_inside{
	z-index: 1001;
	text-align: center;
}

.next_label{
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 4px;
	margin-top: -10px;
}

.next_title{
	font-size: 60px;
	font-weight: 700;
	margin-top: 15px;
}

.next_under{
	height: 0px;
	width: 0%;
	bottom: 4px;
	background-color: white;
	z-index: 1;
	margin-top: 28px;
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	transition: .5s;
}

.cta_inside:hover .next_under{
	height: 8px;
	width: 100%;
	transition: .5s;
}


.ibkg{
	font-size:360px; 
	color:#f5f5f5;
	font-weight: 700;
	position: absolute;
}


.black .ibkg{
	color:#282828;
}


.inside_bkg{
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	top: 0;
	z-index: 1;
	transform: translateX(-50%);
	left: 50%;
}


.cta_back{
	position: absolute;
	bottom: 5px;
	stroke:white;
	left:50%;
	transform: translateX(-50%);
	z-index: 2000;
	cursor:pointer;
	text-align: center;
}
.text_btn{
	color: white;
	text-transform: uppercase;
	font-size:10px;
	letter-spacing: 4px;
	position: absolute;
	margin-top: -5px;
	height: 22px;
	overflow: hidden;
}
.text_btn span{
	position: relative;
}


.back_btn{
	margin-left: -2px;
}

.mask{
	overflow: hidden;
}

.wide{
	font-size: 0;
	line-height: 0;
}

.third{
	width: 33.33%;
	height: 380px;
	position: relative;
	display: inline-block;
	overflow: hidden;
}


.cta_back_mobile{
	z-index: 2000;
	position: absolute;
	left: -30px;
	top: 6px;
	display: none;
	fill:var(--black);
	margin: 12px 11px
	12px 11px;
}

.white .cta_back_mobile{
	fill:white;
}

.mini{
	transform: scale(.7) translate(-50% , -50%) !important;
}


.skill_title{
	font-size: 32px;
	font-weight: 600;
	line-height: 42px;
	letter-spacing: -.5px;
	margin-bottom: 40px;
}

.skill_knw{
	font-size: 14px;
	font-weight: 500;
	line-height: 42px;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin-top: 80px;
}

.skill_logo img{
	margin:30px 30px;
}

.collection .cta_close path{
	stroke:var(--black);
}

.content_bw{
	width: 100%;
	top: 100%;
	background: white;
	color:var(--black);
	line-height: 24px;
	font-size: 18px;
	z-index: 200;
	position: absolute;
}

.collection .wrapper{
	text-align: center;
}
.collection .col{
	vertical-align: middle;
	margin:8% 4%;
}

.tg{
	padding-bottom: 0;
}

.picard_black{
	background-color: #14151a;
}
.picard_blue{
	background-color: #0e4e96;
}

.picard_orange{
	background-color: #fb8136;
}

.picard_grey{
	background-color: #edf1f2;
}

.website{
	padding: 200px 0; 
}

.diapo>img{
	position: absolute;
}

.swiper-container2 .swiper-slide,.swiper-container3 .swiper-slide{
	font-size:24px; 
}


.swiper-pagination-fb,.swiper-pagination-fb2,.swiper-pagination-vw{
	font-size: 19px;
	font-weight: 400;
	letter-spacing: -2px;
	width: inherit;
	position: relative;
	margin-top: 10px;
}



.button-nav img{
	width: 50px;
	height:50px;
	cursor: pointer;
}

.button-nav img:hover{
	opacity: .1;
}


.swiper_nav>div{
	display: inline-block;
	vertical-align: middle;
}

.swiper_nav{
	position: absolute;
	right: 0;
}

.instagram-media{
	min-width: 296px !important;
}

.stop-iframe{
	font-size: 14px;
	text-align: center;
	color: white;
	cursor: pointer;
	margin-top: -100px;
}

.stop-iframe:hover{
	opacity: .25;
}


.wrc iframe, .clickable-video video:hover, .link:hover{
	filter: brightness(70%);
	transition: filter 1s;
}

.wrc iframe:hover, .clickable-video video, .link{
	filter: brightness(100%);
	transition: filter .5s;
}


.link_text{
	position: absolute;
	color: white;
	font-size: 60px;
	font-weight: 600;
	z-index: 2018;
	height: 60px;
    overflow: hidden;
    line-height: 40px;
    pointer-events: none;
}

.link_text div{
	margin-top: 65px;
	pointer-events: none;
}


.hide-for-desktop{
	display: none;
}

.big_link{
	font-weight: 700;
}

.big_link:hover{
	color: #727272;
}

.kitkat{
	background-image: url(../img/kitkat/crunch.png);
	background-size: contain;
	background-repeat: repeat;
	width: 80%;
	height: 120%;
	background-position: center;
	opacity: .4;
	margin-left: 10%;
}


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	/* For landscape layouts only */

	.controls{
		display: none;
	}

	.hud .arrow path{
		stroke:var(--black);
		transition: stroke .3s;
	}

	.hud.white .arrow path{
		stroke:white;
		transition: stroke .3s;
	}

	.cta_back_mobile{
		display: block;
	}

	.m-top20{
		margin-top: 20px !important;
	}

	.col-ls-10{
		width: 80%;
	}
	.col-ls-12{
		width: 100%;
	}



}


@media only screen and (max-device-width: 768px) and (orientation:portrait) {


.link_text{
    display: none;
}
.link_text div{
    display: none;
}


	.kill-margin{
		margin-top: -20px !important;
	}


	.introduction{
		margin-top: 50px;
	}


	.left-1{
		margin-left:0%; 
	}

	.left-2{
		margin-left: 0%; 
	}

	.left-3{
		margin-left: 0%; 
	}

	.left-4{
		margin-left: 0%; 
	}

	.left-5{
		margin-left: 0%; 
	}

	.left-6{
		margin-left: 0%; 
	}

	.left-7{
		margin-left: 0%; 
	}

	.left-8{
		margin-left: 0%; 
	}

	.left-9{
		margin-left: 0%; 
	}

	.left-10{
		margin-left: 0%; 
	}

	.left-11{
		margin-left: 0%; 
	}

	.col-sm-12{
		width: 100%;
	}


	.controls{
		display: none;
	}


	.cta_close{
		display: none;
	}

	.cta_back_mobile{
		display: block;
	}

	.play{
		stroke-width: 7;
		transition: transform .1s;
	}

	.infos{
		width: 100%;
		-webkit-column-count:2; 
		-moz-column-count: 2;
		column-count: 2;

		-webkit-column-gap: 100px;
		-moz-column-gap: 100px;
		column-gap: 100px;
	}

	.only-for-desktop{
		display: none;
	}

	.hide-for-desktop{
		display: block;
	}


	.col-ms-12{
		width: 100%;
	}

	.col-ms-6{
		width: 48%;
	}


	.col{
		margin:20px 0;
	}

	.hide-for-mobile{
		display: none;
	}

	.diapo>img{
		position: relative;
	}


} 


@media only screen and (max-device-width: 375px) { 


	.play{
		stroke-width:12;
		transform: scale(.8) translate(10% , 10%);
		transition: transform .1s;
	}


	.kitkat{
		background-image: url("../img/kitkat/crunch2.png");
		background-size: contain;
		background-repeat: repeat;
		width: 200%;
		height: 200%;
		background-position: -60px 0;
		opacity: .4;
		margin-left: 0;
	}

	iframe{
		width: 296px !important;
		height: 340px !important;
	}


	.collection .col{
		vertical-align: middle;
		margin:8% 0%;
	}


	.next_title{
		font-size:38px;
	}

	.skill_knw {
		font-size: 14px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 8px;
		text-transform: uppercase;
		margin: 60px 0 0;
	}

	.big_letter{
		font-size: 280px;
	}

	.logo{
		text-align: center;
		margin-top:70px;
	}

	.controls{
		display: block;
	}

	.controls svg {
		-webkit-filter: none;      
		filter: none;  
	}



	.letters div:nth-child(2n+1){

		transform: translateX(-50%);
	}

	.letters div:nth-child(2n){
		margin-left: 100%;
		transform: translateX(-50%);
	}


	.controls{
		transform: scale(.5) translate(-50%,-50%) !important;
	}

	.svg-pause{
		display: none;
	}

	.wrapper {
		padding: 50px 0 30px;
	}    

	.last {
		padding: 200px 0 220px;
		transition: all .5s;
		position: relative;
	}


	.row{
		margin: 0;
	}


	.arrow{
		display: none;
	}

	.hide-for-mobile{
		display: none;
	}


	.diapo>img{
		position: relative;
	}

	.infos{
		width: 100%;
		margin-top: 30px;

		-webkit-column-count:1; 
		-moz-column-count: 1;
		column-count: 1;

		-webkit-column-gap: 0px;
		-moz-column-gap: 0px;
		column-gap: 0px;
	}

	video{
		width: 100%;
	}

	.col-sm-6{
		width: 49%;
	}


	.col-sm-12{
		width: 100%;
	}


	.galery img{
		width: 90%;
		height: initial;
	}




	.pad-50{
		padding: 0px;
	}

	.col{
		margin:20px 0;
	}

	.sony_logo img{
		width: 48%;
		vertical-align: top;
	}



	.m-top100{
		margin-top: 100px;
	}

	.m-top200{
		margin-top: 200px;
	}

	.m-top400{
		margin-top: 400px;
	}

	.m-top600{
		margin-top: 600px;
	}

	.m-top800{
		margin-top: 800px;
	}
	.m-top1000{
		margin-top: 1000px;
	}
	.m-top1200{
		margin-top: 1200px;
	}
	.m-top1400{
		margin-top: 1400px;
	}

	.m-top1700{
		margin-top: 1700px;
	}

	.m-top1800{
		margin-top: 1800px;
	}

	.m-top2000{
		margin-top: 2000px;
	}

	.m-top2200{
		margin-top: 2200px;
	}

	.m-top2600{
		margin-top: 2600px;
	}
	.m-top3000{
		margin-top: 3000px;
	}

	.sm-w80{
		width: 80%;
	}

	.nav_left {
		left: 0;
	}

}


.tg2{
overflow: hidden;
width: 540px;
height: 540px;
}
