

:root {
  --orange: #ed796c; 
  --black: #191919;
}


html{
  overflow-y: scroll;
  overflow-x:hidden; 
}

html,body{
  width: 100%;
  height: 100%;
  overflow: unset !important;

  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  margin: 0;
  color: white;
  position: fixed;
  background-color: rgb(255, 203, 0) !important;

  perspective: 800px;
  -webkit-overflow-scrolling: touch;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.preload{
  opacity: 0;
}

.alpha span{
  cursor: pointer;
}

.main{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  perspective: 800px;
}


.border{
  -webkit-box-shadow:inset 0px 0px 0px 1px #191919;
  -moz-box-shadow:inset 0px 0px 0px 1px #191919;
  box-shadow:inset 0px 0px 0px 1px #191919;
}
.big_page .main{
  position: absolute;
}

.bkg_white{
 background-color: white !important;
}

.small_title .black{
 pointer-events: none;
}


.bkg_black{
 background-color: var(--black);
 overflow: hidden;
}

.black{
  color: var(--black);
  text-shadow: none !important;
}


.barre{
  width: 236px;
  height: 45px;
  background-color: var(--black);
  font-size: 26px;
  letter-spacing: 0px;
  margin-top: 4px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
  z-index: 10;
  transform: translateZ(20px);
  padding: 0px 75px;

}

.barre .invert{
  background-color:white !important;
}

.ldg .barre{
  height: 50px;
}


.loading{
  font-size: 224px;
  color:white;
  text-align: left;
  letter-spacing: -10px;
  font-weight: 700;
  width: 500px;
  height: 500px;
}

.center{
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) !important;
  position: absolute;
}

.chiffre{
  margin-left: 113px;
  margin-top: 116px;
}

.chiffre span{
  position: relative;
}

.win.chiffre{
  margin-left: 109px;
  margin-top: 98px;
  font-size: 260px;
}

.title1{
  font-size: 36px;
  margin-top: 53px;
  position: absolute;
  font-weight: 600;
  color: var(--black);
  height: 53px;
  padding-top: 4px;
  overflow: hidden;
}


.title1 span{
  position: relative;
  top:45px;
}
.title2 span{
  position: relative;
  top:20px;
}

.title2{
  font-size: 11px;
  margin-top: 89px;
  letter-spacing: 4.7px;
  position: absolute;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
  height: 20px;
  overflow: hidden;
  width: 238px;
  margin-left: 1px;
}

.title1.win{
  font-size: 35px;
  letter-spacing: -1px;
  margin-top: 56px;
}

.title2.win{
  margin-left: 2px;
}


.ldg{
  z-index: 1981;
}

.rtt,.rtt_loading{
  z-index: 3;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.middle{
  opacity: 0;
}


.cta_page{
 cursor: pointer;
}

.inside .middle{
 cursor: inherit;
}

.page{
  z-index: 100;
}

.alpha{
  color: var(--black);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  line-height: 75px;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  z-index: 1;
  opacity: 0;
}

.alpha2{
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90%;
  line-height: 75px;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  /*width: 700px;*/
  font-family: 'Gotham Black';
  z-index: 10;
}

.first{
  font-size: 14px;
  opacity: 0;
}

.alpha_ldg{
  line-height: 50px;
}

.alpha span,.alpha2 span,.alpha_ldg span{
  display: block;
  top: -6px;
  position: relative;
}


.invert .alpha2{
  color: var(--black);
}

.bkg,.bkg_cat,.bkg_t{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size:cover;
  position: absolute; 
  z-index: 2;
  left: 0%;
}
.cache{
  width: 100%;
  height: 100%;
  background-color: var(--black);
  position: absolute; 
  z-index: 10;
}

.big_title,.middle_title,.big_title_t{
  font-size: 45px;
  z-index: 20;
  font-weight: 700;
  height:100px;
  line-height: 75px;
  overflow: hidden;
  transition: font-size .5s, margin-top .5s;
  color: white;
  cursor: pointer;
}


.big_page .big_title{

  transition: font-size .5s, margin-top 0s;
}

.big_page .big_title:after{
  content: "";
  height: 10px;
  width: 0%;
  background: white;
  top: 43px;
  position: absolute;
  left: 50%;
  transition: all .3s;
  pointer-events: none;
}

.big_page .black .big_title:after {
  background: var(--black);
}


.cat .big_title{
  font-size: 36px;
}



.middle_title{
  font-size: 36px;
  margin-top: 10px;
}


.big_page .big_title:hover:after{
  content: "";
  height: 10px;
  width: 102%;
  top: 43px;
  position: absolute;
  left: -1%;
  transition: all .3s;
}


.big_page .big_title:hover,  .zoom2 .big_title:hover{
  font-size: 70px !important ;
  transition: font-size .3s;
}


.big_title span{
  position: relative;
  top: 75px;
}

.shadow{
  overflow: initial;
}

.shadow span{
  text-shadow: 0px 0px 100px rgba(0, 0, 0, .3);
  transition: text-shadow 1s;
}


img.shadow, .shade img{
/*  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,.05);
-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,.05);
-o-box-shadow: 0px 0px 50px 0px rgba(0,0,0,.05);
box-shadow: 0px 0px 50px 0px rgba(0,0,0,.05);
filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=50);

/*    -webkit-filter: drop-shadow(0px 0px 25px rgba(0,0,0,0.1));      
    filter: drop-shadow(0px 0px 25px rgba(0,0,0,0.1)); 
    */
  }

  .small_title,.small_title_t{
    font-size: 14px;
    z-index: 20;
    font-weight: 500;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    letter-spacing: 8px;
    margin-top: 50px;
    text-transform: uppercase;
    color:white;
  }

  .small_title span{
    cursor: pointer;
    padding: 0 10px;
    transition: font-size .3s;
  }

  .small_title span:hover{
    font-size: 12px;
    transition: font-size .3s;
  }

  .small_title span:after{
    content: "";
    height: 1px;
    width: 0%;
    background: white;
    top: 7px;
    position: absolute;
    left: 43%;
    transform: translateX(-50%);
    transition: all .3s;
  }

  .small_title span:hover:after{
    width: 100%;
  }


  .decal_small{
    margin-top: 60px;
  }

  .small_title span{
    position: relative;
    top: 20px;
  }

  .extra, .extra_t{
    z-index: 15;

  }

  .background{
    font-size: 15px;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    color: black;
    top: 0;
    font-weight: 300;
    /*opacity: .25;*/
    overflow: hidden;
  }

  .big_page .background,.about .cta_content{
    display: none;
  }

  .fs1{
    font-size: 18px;
  }
  .fs2{
    font-size: 16px;
  }
  .fs3{
    font-size: 15px;
  }
  .fs4{
    font-size: 12px;
  }
  .fs4{
    font-size: 10px;
  }

  .bkl{
    position: absolute;
    opacity: 0;
  }


  .scroll_msg{
    position: absolute;
    top:70vh !important;
    left: 50%;
    z-index: 10;
    color: var(--black);
    transform: translateX(-50%);
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: 600;
  }

  .inside .scroll_msg{
    bottom: 20px;
  }

  .trait{
    width: 1px;
    height: 40px;
    margin-left: -1px;
    position: absolute;
    left: 50%;
    top: 22px;
    background-color: var(--black);
  }

  .white .trait{
    background-color: white;
  }

  .white .scroll_msg{
    color:white;
  }


  .scroll_msg span{
    position: relative;
  }


  .cta_contact .under,.cta_contact2 .under{
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #ffffff;
    z-index: 1;
  }


  .cta{
    position: absolute;
    top:92%;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 500;
    letter-spacing: 0px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-align: center;
  }


  .cta_contact,.cta_contact2{
    color: white;
  }

  .cta_contact2{
    width: 98;
  }

  .cta span{
    position: relative;
    z-index: 2;
    top:40px;
  }

  .cta_content.ready {
    overflow: visible;
  }
  .cta.out {
    display: none;
  }

  .cta:hover span{
    color:white;
  }

  .under{
    height: 5px;
    width: 100%;
    left: -100%;
    position: absolute;
    bottom: 5px;
    background-color: var(--black);
    z-index: 1;
  }

  .black .under{
    background-color: white;
  }


  .menu{
    position: absolute;
    top:20px;
    right: 50%;
    transform: translateX(50%);
    z-index: 3001;
    width: 39px;
    overflow: hidden;
    cursor: pointer;
    display: none;
  }

  .burger{
    margin-left: -33px;
  }


  .burger path{
    stroke: var(--black);
    /*      transition: stroke .5s;*/
  }

  .white .burger path{
    stroke: white;
  }


  .side_title{
    transform: rotate(-90deg);
    position: absolute;
    left: -30px;
    top: 50%;
    z-index: 1000;
    cursor: pointer;
  }

  .side_title_r{
    transform:  rotate(90deg);
    position: absolute;
    right: -30px;
    top: 50%;
    z-index: 1000;
    cursor: pointer;
  }

  .arrow{
    position: absolute;
    top:50%;
    margin-top: -14px;
    z-index: 1000;
    width: 40px;
  }

  .a_left{
    left:-50px;
    cursor: pointer;
    transition: all .3s;
  }


  .a_right{
    right:-50px;
    cursor: pointer;
    transition: all .3s;
  }


  .big_side{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .side{
    font-size: 18px;
    position: absolute;
    font-weight: 500;
    color: var(--black);
    transform: translate(-50%, -50%);
    letter-spacing: -.5px;
    transition: color .3s;
  }

  .white .side{
    color:white;
  }

  .white .side:after{
    background-color:white;
  }

  .side:after{
    content: "";
    background-color: var(--black);
    width: 20%;
    left:50%;
    top:110%;
    height: 4px;
    position: absolute;
    transform: translate(-50%, 150%);
    transition: all .3s;
    display: none;
  }


  .side:hover:after{
    content: "";
    width: 100%;
    position: absolute;
    transition: all .3s;
  }


  .big_page{
    overflow-y:scroll; 
  }

  .big_page .bkg :not(.skill){
    animation: big_zoom 20s infinite alternate;
  }


  @keyframes big_zoom {
    0%   {  transform: scale(1);}
    100% {  transform: scale(1.1);}
  }



  .big_page.content{
    display: block;
  }

  .hud{
    position: absolute;
  }


  .inside .rtt{
    /*  margin-left: -1px;*/
    transform: rotateY(0) rotateX(0);
  }

  .inside .barre{
    opacity: 1;
    height: 100% ;
    top: 50% ;
    width: 100% ;
    margin-top: 0px;
  }

  .inside .cache{
    top: -5px;
    height: 0%;
  }     

  .inside .ldg{
    display: none;
  }

  .inside .alpha2{
    opacity: 0;
  }

  .inside .big_title span,.inside .small_title span{
    top:0;
  }


  .hand{
    background-image: url('../img/creative/DC_hand.png');
    height: 800px;
    width: 460px;
  }

  .ice{
    background-image: url('../img/ux/ice_cream.png');
    height: 1100px;
    width: 820px;
  }

  .ananas{
    height: 800px;
    width: 400px;
  }

  .ananas div{
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .t1{
    background-image: url('../img/dev/ananas1.png');
  }
  .t2{
    background-image: url('../img/dev/ananas2.png');
  }
  .t3{
    background-image: url('../img/dev/ananas3.png');
  }
  .t4{
    background-image: url('../img/dev/ananas4.png');
  }
  .t5{
    background-image: url('../img/dev/ananas5.png');
  }
  .t6{
    background-image: url('../img/dev/ananas6.png');
  }



  .art{
    height: 720px;
    width: 1160px;
  }
  .art div{
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .can{
    background-image: url('../img/art/can.png');
  }

  .can2{
    background-image: url('../img/art/can2.png');
  }
  .shadow_can{
    background-image: url('../img/art/shadow.png');
        margin-top: 48px;
  }


  .spray1{
    background-image: url('../img/art/spray1.png');
  }
  .spray2{
    background-image: url('../img/art/spray2.png');
    opacity: 0;
  }

  .spray3{
    background-image: url('../img/art/spray3.png');
    opacity: 0;
  }

  .spray4{
    background-image: url('../img/art/spray4.png');
    opacity: 0;
  }



  .content{
    width: 100%;
    top: 100%;
    background: white;
    color:var(--black);
    line-height: 24px;
    font-size: 18px;
    z-index: 200;
    position: absolute;
    text-align: center;
  }

.over_title{
  width: 300px;
  height: 250px;
  z-index: 2018;
  cursor: pointer;
  display: none;
}

  .intro_atoz{
    position: absolute;
    left:50%;
    top:50.55%;
    transform: translate(-50%,-50%) scale(.45) !important;
  }

  .A{
    background-image: url('../img/1-banner.png');
    opacity: .7;
  }

  .B{
    background-image: url('../img/1-service-4-4.jpg');
    opacity: .7;
  }
  .C{
    background-image: url('../img/4-banner2.png');
    /*background: linear-gradient(to right, #eacda3 , #d6ae7b);*/
    color: white;
  }
  .D{
    background-image: url('../img/1-service-7.jpg');
   /*background: linear-gradient(to right, #59ae9f , #f9ba60);*/
   color: white;
 }
 .E{
  background-image: url('../img/1-service-2.jpg');
  opacity: .7;
}
.F{
  background-image: url('../img/fove/bkg.jpg');
  opacity: .7;
}
.G{
  background-image: url('../img/gameloft/bkg.jpg');
  opacity: .7;
}
.H{
  background-image: url('../img/hyundai/bkg.jpg');
  opacity: .7;
}
.I{
  background-image: url('../img/itecom/bkg.jpg');
  opacity: .8;
}
.J,.L,.N,.O,.Q,.S,.T,.Y{
  background-color: white;
}
.K{
  background-image: url('../img/kitkat/bkg.jpg');
  opacity: .8;
}
.M{
  background-image: url('../img/misc/bkg.jpg');
}
.P{
  background-image: url('../img/picard/bkg.jpg');
}
.R{
 background: linear-gradient(to right, #f1987e , #ec7268);
 color: white;
}
.U{
  background: linear-gradient(to right, #dfc9cc , #cc7e89);
  color: white;
}
.V{
  background-image: url('../img/vw/bkg.jpg');
  opacity: .7;
}
.W{
  background-image: url('../img/wwf/bkg.jpg');
}
.X{
  background-image: url('../img/xperia/bkg.jpg');
  opacity: .7;
}
.Z{
  background-image: url('../img/z/bkg.jpg');
}


.cat{
  overflow: visible;
}

.cat {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.cat:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


.cat_list,.cat_list_title,.cat_list_extra{
  margin-top: -10px;
  position: absolute;
}

.cat_list{
  z-index: 1;
}
.cat_list_extra{
  z-index: 2;
  pointer-events: none;
}

.cat_list_title{
  z-index: 3;
  pointer-events: none;
}

.cat_bloc{
  background-color: var(--black);
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin:10px;
  vertical-align: bottom;
  cursor: pointer;
}

.sk{
 background-color: white;
}

.cat_bloc_extra, .cat_bloc_title{
  display: inline-block;
  position: relative;
  margin:10px;

}

.cat_bloc_extra{
  vertical-align: top;
}

.cat_bloc_title{
  cursor: pointer;
}

.extra_mini>div{
  transform: scale(.5);
}

.extra>div{
  transform: scale(.8);
}

.bkg_cat{
  transition: all .3s;

}

.cat_bloc:hover .bkg_cat{
  width: 110%;
  height: 110%;
  transition: all .3s;
  margin-left:-5%;
  margin-top: -2.5%;
}


.big_menu{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3000;
  display: none;
  overflow: hidden;
}

.line{
  background-color: var(--black);
  height: 0;
  width: 100%;
  position: absolute;
  margin-top:33.3%;
}

.line2{
  top:33.3%;
}
.line3{
  top:66.6%;
}

.menu_links{
  z-index: 1002;
  text-align: center;
}

.link{
 display: block;
 font-weight: 600;
 overflow: hidden;
 padding: 10px;
}

.link span:hover{
  color: var(--black);
  font-size: 68px;
  transition: font-size .3s;
}

.link span{
  top: 100px;
  position: relative;
  transition: font-size .3s;
  cursor: pointer;
  font-size: 72px;
}


.link span:hover:after{
  height: 70px;
  width: calc(100% + 30px);
  transition: all .3s;
}


.menu_turn{
  position: absolute;
  z-index: 1002;
  perspective: 800px;
}

#screen_svg{
  position: absolute;
  z-index: 1001;
  transition: all .5s;

}

.mouais{
  width: 1px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}

.text_container{
  width: 100%;
  height: 100%;
  position: absolute;
}


.about_text{
  font-size: 110px;
  letter-spacing: -3px;
  line-height: 110px;
  font-weight: 600;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:15%;
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
}

.about_text>div,.small_orange{
  transform: scale(1);
  transition: transform 1s;
  cursor: pointer;
}


.about_text>div:hover,.small_orange:hover{
  transform: scale(.95) !important;
  transition: transform .5s;
}




.about .swiper-container{
  top:80%;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: var(--black);
  position: absolute;
  overflow: visible;
}

.about .slide{
  perspective: 800px;
}

.about .swiper-pagination-bullet {
  background: white !important;
  opacity: .1;
}

.about .swiper-pagination-bullet-active {
  background: var(--orange) !important;
  opacity: 1;
}


.extra1{
  position: absolute;
    left: 221px;
    transform: scale(.85);
  top: 7px;
}

.extra1.win {
  position: absolute;
  left: 249px;
  transform: scale(.8);
  top: 3px;
}

.extra2{
  position: absolute;
  width: 100%;
  height: 100%;
}

.extra3 {
  position: absolute;
  right: 212px;
  top: -25px;
  transform: scale(1.1);
}

.extra_typo{
  position: absolute;
  top: -35px;
  left: 35px;
}


.small_orange{
  color: var(--orange);
  font-size: 50px;
  letter-spacing: -2px;
  font-weight: 500;
  display: inline-block;
  top: -30px;
  position: relative;
  margin-right: -7px;
}

.language .small_orange:hover{
  color:white;
}

.small_white{
  font-size: 50px;
  letter-spacing: -2px;
  font-weight: 500;
  display: inline-block;
  top: -30px;
  position: relative;
  margin-right: -7px;
}

.small_white:hover{
  color:var(--orange);
}



.orange{
  color: var(--orange);
}

.b1{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: scale(1.25);
}

.b2{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: scale(1.25);
}

.ball{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1.1);
}

.extra .label{
  color: black;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 14px;
  letter-spacing: 4px;
}


.bkk{
  width: 4px;
  height: 4px;
  position: absolute;
  background-color: var(--orange);
  transition: background 1s;
  opacity: 0;
}

.background2{
  position: fixed;
  z-index:3000;
  top:0;
}

.page .background2{
  z-index: 1;
  display: none;
}

.collection .background2{
  z-index: 3000;
  display: block;
}



.cta_close{
  position: absolute;
  z-index: 5000;
  transform: translate(-50% , -50%);
  width: 37px;
  height: 37px;
  cursor: pointer;
  top:50%;
  left:50%;
}

input{
  font-size: 96px;
  font-weight: 600;
  color: var(--black);
  border: none;
  border-bottom: 10px black solid;
  height: 140px;
  letter-spacing: -1px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eee;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #eee;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #eee;
}


.any_q{
  overflow: hidden;
}

.question{
  margin-top: -200px;
}

@media only screen and (max-device-width: 768px) {
  .background2{
    z-index: 1;
    display: none;
  }


  .menu{
    position: absolute;
    top:10px;
    right: -10px;
    transform: translateX(-50%);
  }
.extra{
  pointer-events:none;
}

.over_title{
  display: none !important;
}


}

@media only screen and (max-device-width: 375px) { 


  img.shadow, .shade img{
    -webkit-filter: none;
    filter: none; 
  }

  .inside .rtt{
    margin-left: 0px;
  }


  .big_title,.big_title_t {
    font-size: 35px;
    line-height: 35px;
    height: 40px;
    font-weight: 500;
  }
  .big_page .big_title:after{
    display: none;
  }


  .big_side{
    display: none;
  }


  .small_title,.small_title_t {
    font-size: 9px;
    z-index: 20;
    font-weight: 500;
    height: 20px;
    line-height: 1;
    overflow: hidden;
    letter-spacing: 4px;
    margin-top: 34px;
  }


  .black span{
    font-weight: 700;
  }

  .link span,.link span:hover{
    font-size: 42px;
  }

  .extra>div,.extra_mini>div{
    transform: scale(.35);
  }

  .inside .extra>div,.extra_t>div{
    transform: scale(.5);
    transition: transform .1s;
  }
  .extra_alpha>div{
    transform: scale(.35) !important;
  }
  

  .hud{
    z-index: 3000;
  }


  .middle_title {
    font-size: 28px;
    font-weight: 500;
  }

  .side{
    display: none;
  }

  .cat .big_title{
    font-size: 28px;
    margin-top: -10px;
    transition: all .5s;
  }



  .big_page .big_title:hover,  .zoom2 .big_title:hover{
    font-size: 35px !important;
  }


  .big_page .big_title:hover,  .zoom2 .big_title:hover{
    text-decoration: none;
  }


  .big_page .decal_small {
    margin-top: 44px ;
  }


  .about_text {
    font-size: 47px;
    letter-spacing: -1px;
    line-height: 60px;
    font-weight: 600;
    position: absolute;
    left: 10%;
    width: 80%;
  }

  .extra1 {
    position: absolute;
    left: 70px;
    transform: scale(0.37);
    top: -24px;
  }

  .b1{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: scale(.6);
  }

  .b2{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: scale(.6);
  }

  .ball{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(.7);
  }

  .extra_typo {
    position: absolute;
    top: -75px;
    left: -145px;
    transform: scale(.48);
  }

  .small_orange {
    color: var(--orange);
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: 500;
    display: inline-block;
    top: 0px;
    position: relative;
    margin-right: 0px;
  }

}