::-webkit-scrollbar {
  width: 4px;
}


/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  padding: 2px;
  background: rgba(0, 0, 0, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4adbce;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #52f3e4;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Breamcatcher";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/Breamcatcher-Regular.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/Breamcatcher-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/GothamRounded-Light.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/GothamRounded-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/GothamRounded-Bold.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/GothamRounded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body .game_main, body .game_main .player img, body .game_characterCreation, body .game_characterCreation_inner .characterForm_title {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 25%;
  /*-webkit-transform: translateY(-50%);*/
          /*transform: translateY(-50%);*/
}

.gameOver:after,
.gameWin:after, .gameOver .button:after,
.gameWin .button:after, body .game_main__training .row .button:after, body .game_main__training:after, body .game_main__bottom .js-medScavenge:after, body .game_main__right .button:after, body .game_main__left .button:after, body .game_characterCreation_inner .characterForm_title:after, body .game_characterCreation_inner .characterForm_bottom__right .traits .trait:after, body .game_characterCreation_inner .characterForm_bottom__end .traits .trait:after, body .game_characterCreation_inner .characterForm_bottom .career:after, body .game_characterCreation_inner .characterForm_top .js-randomize:after, body .game_characterCreation_inner .js-createCharacter:after, .gameOver:before,
.gameWin:before, .gameOver .button:before,
.gameWin .button:before, body .game_main__training .row .button:before, body .game_main__training:before, body .game_main__bottom .js-medScavenge:before, body .game_main__right .button:before, body .game_main__left .button:before, body .game_characterCreation_inner .characterForm_title:before, body .game_characterCreation_inner .characterForm_bottom__right .traits .trait:before, body .game_characterCreation_inner .characterForm_bottom__end .traits .trait:before, body .game_characterCreation_inner .characterForm_bottom .career:before, body .game_characterCreation_inner .characterForm_top .js-randomize:before, body .game_characterCreation_inner .js-createCharacter:before {
  content: " ";
  display: block;
  background: #052511;
  width: 80px;
  height: 8px;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gameOver,
.gameWin, .gameOver .button,
.gameWin .button, body .game_main__training .row .button, body .game_main__training, body .game_main__bottom .js-medScavenge, body .game_main__right .button, body .game_main__left .button, body .game_characterCreation_inner .characterForm_title, body .game_characterCreation_inner .characterForm_bottom__right .traits .trait, body .game_characterCreation_inner .characterForm_bottom__end .traits .trait, body .game_characterCreation_inner .characterForm_bottom .career, body .game_characterCreation_inner .characterForm_top .js-randomize, body .game_characterCreation_inner .js-createCharacter {
  /*border: 1px solid #052511;
  background: #05170c;*/
  border: 1px solid #075456;
  /*background: #051617;*/
  background: #141823;
  padding: 20px;
  position: relative;
}
.gameOver:before,
.gameWin:before, .gameOver .button:before,
.gameWin .button:before, body .game_main__training .row .button:before, body .game_main__training:before, body .game_main__bottom .js-medScavenge:before, body .game_main__right .button:before, body .game_main__left .button:before, body .game_characterCreation_inner .characterForm_title:before, body .game_characterCreation_inner .characterForm_bottom__right .traits .trait:before, body .game_characterCreation_inner .characterForm_bottom__end .traits .trait:before, body .game_characterCreation_inner .characterForm_bottom .career:before, body .game_characterCreation_inner .characterForm_top .js-randomize:before, body .game_characterCreation_inner .js-createCharacter:before {
  top: 0px;
  left: 4px;
  -webkit-transform: translateY(-48%) skewX(45deg) rotate(-4deg);
          transform: translateY(-48%) skewX(45deg) rotate(-4deg);
  z-index: -1;
}
.gameOver:after,
.gameWin:after, .gameOver .button:after,
.gameWin .button:after, body .game_main__training .row .button:after, body .game_main__training:after, body .game_main__bottom .js-medScavenge:after, body .game_main__right .button:after, body .game_main__left .button:after, body .game_characterCreation_inner .characterForm_title:after, body .game_characterCreation_inner .characterForm_bottom__right .traits .trait:after, body .game_characterCreation_inner .characterForm_bottom__end .traits .trait:after, body .game_characterCreation_inner .characterForm_bottom .career:after, body .game_characterCreation_inner .characterForm_top .js-randomize:after, body .game_characterCreation_inner .js-createCharacter:after {
  bottom: 0;
  right: 4px;
  -webkit-transform: translateY(48%) skewX(45deg) rotate(-4deg);
          transform: translateY(48%) skewX(45deg) rotate(-4deg);
  z-index: -1;
}

body {
  /*background: #06180d;*/
  background: #061816;
  /*background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gameBgasdsd.jpg");*/
  background-size: cover !important;
  color: white;
  font-size: 12px;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow-x: hidden;
}

body .grain {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  height: 100%;
  z-index: 1;
  opacity: 0.55;
  width: 100%;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
  font-weight: normal;
  font-family: "Gotham Rounded";
}
body p,
body input,
body label {
  font-family: "Gotham Rounded";
}
body .trait h5,
body h6,
body .career h5 {
  text-shadow: 0 0 7px;
}
body h3 {
  font-size: 30px;
}
body h4 {
  font-size: 23px;
}
body h5 {
  font-size: 18px;
}
body .game {
  /*-webkit-perspective: 800px;
          perspective: 800px;*/
  height: 50vh;
  transform: translate(0px, -10%);
  /*height: 100vh;*/
}










body .game_characterCreation {
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.09);
  /*border: 1px solid #052511;*/
  border: 1px solid #0a3c3b;
  /*width: 1085px;*/
  width: 80vw;
  height: auto;
  padding: 40px 40px 80px 40px;
}
body .game_characterCreation_inner .characterForm_title {
  position: absolute;
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
  text-align: center;
  width: 250px;
  -webkit-transform: 0;
          transform: 0;
  top: 0;
  padding: 10px;
}
body .game_characterCreation_inner .characterForm_title:after, body .game_characterCreation_inner .characterForm_title:before {
  display: none;
}
body .game_characterCreation_inner .characterForm_bottom {
  position: relative;
  z-index: 0;
}
body .game_characterCreation_inner .characterForm_bottom .rowHeading {
  position: relative;
}


body .game_characterCreation_inner .characterForm_bottom__right {
  padding-right: 10px !important;
}
body .game_characterCreation_inner .characterForm_bottom__right, body .game_characterCreation_inner .characterForm_bottom__end {
  padding-right: 0;
  padding-left: 20px;
}




body .game_characterCreation_inner .characterForm_bottom__end {
  padding-right: 0;
}
body .game_characterCreation_inner .characterForm_bottom__left, body .game_characterCreation_inner .characterForm_bottom__right, body .game_characterCreation_inner .characterForm_bottom__end {
  width: 33.33%;
  float: left;
  padding-right: 10px;
}
body .game_characterCreation_inner .characterForm_bottom__left .rowHeading p, body .game_characterCreation_inner .characterForm_bottom__right .rowHeading p, body .game_characterCreation_inner .characterForm_bottom__end .rowHeading p {
  margin: 6px 0 30px 0;
  color: #90b7a4;
}
body .game_characterCreation_inner .characterForm_bottom__right {
  padding-right: 0;
}
body .game_characterCreation_inner .characterForm_bottom .career {
  height: 177px;
  padding-bottom: 70px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body .game_characterCreation_inner .characterForm_bottom .career:hover {
  border-color: #4adb82;
}
body .game_characterCreation_inner .characterForm_bottom .career:hover:before, body .game_characterCreation_inner .characterForm_bottom .career:hover:after {
  background: #4ad4db;
}
body .game_characterCreation_inner .characterForm_bottom .career:hover:before{
  left: 20px;
}
body .game_characterCreation_inner .characterForm_bottom .career:hover:after {
  right: 20px;
}
body .game_characterCreation_inner .characterForm_bottom .career .cIcon {
  -webkit-filter: drop-shadow(0px 0px 6px green);
          filter: drop-shadow(0px 0px 6px green);
  width: 30px;
  height: 35px;
  margin-right: 10px;
  position: relative;
  top: -7px;
  float: left;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/careerIcons.png);
}
body .game_characterCreation_inner .characterForm_bottom .career_header {
  border-bottom: 1px solid #052511;
  padding-bottom: 20px;
  margin-bottom: 14px;
}
body .game_characterCreation_inner .characterForm_bottom .career_header img {
  height: 27px;
  margin-right: 11px;
}
body .game_characterCreation_inner .characterForm_bottom .career img {
  float: left;
}
body .game_characterCreation_inner .characterForm_bottom .career h5 {
  color: #4adb82;
  position: relative;
  top: 2px;
  font-size: 19px;
}
body .game_characterCreation_inner .characterForm_bottom .career p {
  line-height: 18px;
}
body .game_characterCreation_inner .characterForm_bottom .career_attributes {
  font-family: "Gotham Rounded";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 17px 20px;
  color: #90b7a4;
}
body .game_characterCreation_inner .characterForm_bottom .career_attributes span {
  text-transform: capitalize;
}
body .game_characterCreation_inner .characterForm_bottom .career_attributes span.value {
  color: #78ff00;
  font-weight: bold;
}


body .game_characterCreation_inner .js-createCharacter {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -35px;
  font-family: "Gotham Rounded";
  font-size: 22px;
  text-align: center;
  width: 200px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body .game_characterCreation_inner .js-createCharacter:hover {
  /*background: #05170c;
  border: 1px solid #045723;
  box-shadow: 0 0 10px 0px #072512;*/
  background: #051517;
  border: 1px solid #045157;
  box-shadow: 0 0 10px 0px #072425;
}
body .game_characterCreation_inner .js-createCharacter:hover:before, body .game_characterCreation_inner .js-createCharacter:hover:after {
  background: #4adb82;
}
body .game_characterCreation_inner .js-createCharacter:hover:before {
  left: 20px;
}
body .game_characterCreation_inner .js-createCharacter:hover:after {
  right: 20px;
}

body .game_characterCreation form {
  display: block;
}




/**  Efecto de al rededor */

.shadow{
      position: relative;
      margin: 200px auto 0;
      /*width: 400px;*/
      height: 250px;
      background: linear-gradient(0deg, #141822, #1b2430) !important;
      /*transform: inherit !important;*/
    }
    .shadow:before,
    .shadow:after{
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000 );
      background: linear-gradient(45deg, #50fafc, #141823, #02b7b3, #a8d3eb, #fff,#50fafc, #141823, #02b7b3, #a8d3eb, #fff );
      
      background-size: 400% ;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: -2;
      animation: animate 20s linear infinite;
    }
    .shadow:after{
      filter: blur(20px);
    }
    @keyframes animate
    {
      0%
      {
        background-position: 0 0 ;
      }
      50%
      {
        background-position: 300% 0 ;
      }
      100%
      {
        background-position: 0 0 ;
      }
    }
