@font-face {
    font-family: 'Gotham Black';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Black'), url('../fonts/Gotham Black Regular.woff') format('woff');
}

@font-face {
    font-family: 'Gotham ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham ExtraLight'), url('../fonts/Gotham-ExtraLight.woff') format('woff');
}

html, body {
    background-color: #000000;
    font-family: 'Gotham ExtraLight';
    height: 100%;
    margin: 0;
    width: 100%;
}

/*html{
    height: 100vh; 
    overflow: hidden;
}
body{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
*/

/*.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 5em;
  height: 2.5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  right: -50%;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  right: 0;
  background: #f1da00;
}


.tgl-ios + .tgl-btn {
    position: absolute;
    background: #f1da00;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #f1da00;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #000000;
  transition: right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #000000;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}*/


/*menu*/
    /*.hamburger {
        position: absolute;
        top: 18px;
        right: 8px;
        width: 25px;
        height: 3px;
        background: #f1da00;
            display: block;
            transform-origin: center;
            transition: .5s ease-in-out;
            z-index: 5;

    }

    .hamburger:after,
    .hamburger:before {
        background: #f1da00;
        content: "";
        display: block;
        transition: .5s ease-in-out;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .hamburger:before {
        top: -8px;
    }

    .hamburger:after {
        bottom: -8px;
    }

    input {
        display: none;
    }

    input:checked ~ label .menu {
        box-shadow: 0 0 0 130vw #fff, 0 0 0 130vh #fff;
    }

    input:checked ~ label .hamburger {
        transform: rotate(45deg);
        left: 8px;
        background: #000000;
    }

    input:checked ~ label .hamburger:after {
        transform: rotate(90deg);
        top: 0;
        background: #000000;
        /*left: -100%;*/
  /*  }

    input:checked ~ label .hamburger:before {
        transform: rotate(90deg);
        top: 0;
        background: #000000;
        
    }

    input:checked ~ ul {
        opacity: 1;
    }

    .btn-menu {
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        -webkit-transition: 1s;
        background: #F1DA00;
        border-color: transparent;
        border-top-left-radius: 25% 50%;
        border-bottom-left-radius: 25% 50%;
        border-top-right-radius: 25% 50%;
        border-bottom-right-radius: 25% 50%;
        cursor: pointer;
        height: 40px;
        width: 80px;
        transition: 1s;
    }

    .btn-menu-active {
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        -webkit-transition: 1s;
        background-color: #000000;
        border-color: #F1DA00;
        transition: 1s;
    }

    .btn-menu > .fas {
        border-radius: 50%;
        font-size: 1.6em;
        height: 35px;
        line-height: 35px;
        width: 35px;
    }

    .btn-menu > .fa-bars {
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
        -webkit-transition: 1.5s;
        background-color: #000000;
        color: #F1DA00;
        float: right;
        transition: 1.5s linear;
    }

    .btn-menu > .fa-times {
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
        -webkit-transition: 1.5s;
        background-color: #F1DA00;
        color: #000000;
        float: left;
        transition: 1.5s linear;
    }

    #check-menu {
        display: none;
    }*/

/*Transicion con barba*/

    .transition {
        list-style: none;
        /*display: flex;
        padding: 0;
        margin-right: auto;*/
    }
    ul.transition {
        display: flex;
        position: fixed;
        z-index: 15;
        height: 100vh;
        width: 106%;
        top: 0;
        left: -6%;
        margin: 0;
        pointer-events: none;
    }

    ul.transition li{
        transform: scaleY(0);
        background: white;
        width: 20%;
    }

/*header*/
.header {
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    top: 2%;
    padding: 1% 7%;
    position: fixed;
    transition: 1s;
    z-index: 10;
    width: 25%;
}

.little-header {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    padding-left: 14%;
}

.logo {
    transition: 1s;
}

.little-logo {
    content: url('../img/logo2.png');
}

.logo.little-black-logo {
    content: url('../img/LogoNegro.png');
    margin-left: -3%;
}

.side-bar {
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    top: 6%;
    position: fixed;
    right: 7%;
    text-align: right;
    transition: 1s;
    z-index: 13;
}

.social-list {
    font-family: 'Gotham Black';
    font-size: 1.1em;
    list-style: none;
}

.hide {
    -moz-transition: visibility 0s linear, opacity 0.33s linear;
    -ms-transition: visibility 0s linear, opacity 0.33s linear;
    -o-transition: visibility 0s linear, opacity 0.33s linear;
    -webkit-transition: visibility 0s linear, opacity 0.33s linear;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear, opacity 0.33s linear;
}

.section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /*height: 100%;*/
    height: 100vh;
    padding: 0% 7%;
    /*width: 86%;*/
    width: auto;
    position: relative;
}

.social-list .follow {
    background-color: #F1DA00;
    border-bottom-left-radius: 50% 12%;
    border-bottom-right-radius: 50% 12%;
    border-top-left-radius: 50% 12%;
    border-top-right-radius: 50% 12%;
    height: 150px;
    margin-top: 50px;
    text-align: center;
    transform: rotate(180deg);
    width: 50px;
    writing-mode: vertical-lr;
}

.social-list .follow > span {
    line-height: 50px;
}

.social-list .social-item {
    background-color: #5C5C5C;
    border-radius: 50%;
    height: 50px;
    margin-top: 5px;
    text-align: center;
    width: 50px;
}

.social-list .social-item > a {
    color: #FFFFFF;
    font-size: 1.5em;
    line-height: 55px;
}

.text-box {
    z-index: 4;
}

.footer {
    background-color: #DDE4EC;
    color: Black;
    padding: 0% 10%;
    font-size: 1.3em;
}

.footer .author {
    float: right;
}

.backgroundVideo {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;

    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%,-50%) !important;
    -ms-transform: translate(-50%,-50%) !important;
    transform: translate(-50%,-50%) !important;
}

/*SVG ELLIPSES*/
.svg-first-ellipse {
    height: 180%;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 3;
}

.svg-first-ellipse .path-ellipse {
    stroke: #FFFFFF;
    stroke-width: 0.025em;
    fill: none;
}

.svg-first-ellipse .path-animated {
    stroke-dasharray: 1260;
    stroke-dashoffset: -1260;
    stroke: #F1DA00;
    stroke-width: 0.1em;
    fill: none;
    animation: dash 6s infinite linear;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1260;
    }
}

/* Menu Section */

/*.menu-section {
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transition: 1.5s;
    background-color: #000000;
    display: flex;
    height: 100%;
    opacity: 0;
    overflow-y: scroll;
    position: fixed;
    transition: 0.33s;
    visibility: hidden;
    width: 100%;
    z-index: 12;
}

.menu-section.isVisible {
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transition: 1.5s;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear, opacity 0.33s linear;
}

.menu-section .separator {
    background-color: #F1DA00;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: sticky;
    top: 0;
}

.menu-section .separator .title {
    height: 70%;
    display: flex;
    justify-content: center;
}

.menu-section .separator h1 {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    font-size: 2.1vw;
    margin: 25px;
}

.menu-section .separator .hashtag-text {
    font-size: 1.5vw;
    text-align: center;
    padding: 0px 15px;
    top: 0px;
    position: relative;
}

.menu-section .separator .social-list {
    text-align: center;
}

.menu-section .separator .social-item {
    display: inline-block;
}

.menu-section .separator .follow-container {
    text-align: center;
}

.menu-section .separator .follow {
    background-color: black;
    border-bottom-left-radius: 12.5% 50%;
    border-bottom-right-radius: 12.5% 50%;
    border-color: transparent;
    border-top-left-radius: 12.5% 50%;
    border-top-right-radius: 12.5% 50%;
    color: #F1DA00;
    font-size: 1vw;
    padding: 10px 20px;
}*/



@media only screen and (max-width: 1024px) {
    .footer {
        font-size: unset;
    }
}

@media only screen and (max-width: 640px) {
    .btn-menu {
        height: 30px;
        width: 60px;
    }

    .btn-menu > .fas {
        font-size: 1.2em;
        height: 26px;
        line-height: 26px;
        width: 26px;
    }

    .social-list {
        font-size: 1em;
    }

    .social-list .follow {
        height: 100px;
        width: 30px;
    }

    .social-list .follow > span {
        line-height: 30px;
    }

    .social-list .social-item {
        height: 30px;
        width: 30px;
    }

    .social-list .social-item > a {
        font-size: 1em;
        line-height: 31px;
    }

    .footer {
        font-size: unset;
    }

    .header {
        width: 60%;
        padding: 7% 7%;
    }
    .header .logo{
        width: 100%;
    }
    .header .little-logo{
        width: 20% !important;
    }
    .header .little-black-logo{
        width: 30% !important;
    }

    .section {
        background-position: unset;
    }

    .section.contact-section .text-box {
        display: block;
        width: 100%;
    }

    .section.contact-section .container {
        width: 90%;
        padding: 0% 5%;
        font-size: 0.7em;
    }

    .section.contact-section .social-box .follow {
        height: 30px;
        line-height: 30px;
        width: 100px;
    }

    .section.contact-section .social-box .social-item {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .section.contact-section .social-box {
        margin-top: 0;
    }

    .menu-section .content .category .service-title {
        display: block;
        font-size: 5vw;
    }

    .menu-section .content .category .service-items {
        font-size: 3vw;
    }

    .menu-section .separator h1 {
        font-size: 7vw;
    }

    .menu-section .separator .follow {
        font-size: 3vw;
    }
}

/* Contact Section */

.contact-section {
    background-color: #000000;
    position: relative;
    z-index: 2;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 95%;
}

.contact-section .container{
    position: absolute;
    width: 80%;
    bottom: 10%;
    padding: 0% 10%;
}

.contact-section .text-box {
    display: inline-grid;
    width: 30%;
    color: #FFFFFF;
    text-align: justify;
    margin: 1%;
}

.contact-section .text-box .text {
    margin: 5px;
}

.contact-section .text-box .title {
    color: #F1DA00;
}

.contact-section .social-box {
    font-family: 'Gotham Black';
    font-size: 1.1em;
    margin-top: 10%;
}

.contact-section .social-box .follow {
    background-color: #F1DA00;
    border-bottom-left-radius: 12% 50%;
    border-bottom-right-radius: 12% 50%;
    border-top-left-radius: 12% 50%;
    border-top-right-radius: 12% 50%;
    color: #000000;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 150px;
}

.contact-section .social-box .social-item {
    background-color: #5C5C5C;
    border-radius: 50%;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.5em;
    height: 50px;
    line-height: 55px;
    text-align: center;
    width: 50px;
}