@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.fa-times:before {
    content: "\f00d";
    top: 30px !important;
    font-size: 30px !important;
    position: relative !important;
    background-color: black !important;
    cursor: pointer !important;
}
/* Cargando*/
#fondo-cargando{
    /*background-image: radial-gradient(#000000b3,#000000eb);*/
    background-image: linear-gradient(to bottom, #0000006b 0%,#000000b3 15%, black 40%, black 100%);
    height: 300vh;
    width: 100%;
    background-size: 200% 200%;
    top: -200vh;
    left: 0%;
    transform: rotate(0deg);
    position: absolute;
    
    animation: Scroll 16s forwards;
}
.cargando{
    /*background-image: url('../img/traje.png');*/
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('../img/traje.png');*/
    background-image: url('../img/traje.png');

    background-size: cover;
    background-position: top;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #4a4a4a;
    z-index: 10;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index:  99999999999;
}
.txt-cargando{
    font-family: 'Gotham Black';
    color: #F1DA00;
    position: relative; 
    top: 0%;
    left: 20%;
    margin: auto;
    /*transform: translateX(-50%);*/
    /*transform: translate(-50%,-50%) !important;*/
}
#cargando{
    font-size: 30px;
}
#contador{
    top: 0px;
    font-family: 'Gotham Black';
    color: transparent;
    
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F1DA00;
    font-size: 80px;
}

@keyframes Scroll {
    0%{top: -200vh;}
    100%{top: 0vh;}

}


.hide-charger{
    opacity: 0;
    display: none;
}

/* flashligth **/

.light-box {
    cursor: crosshair;
    --cursorX: 50vw;
    --cursorY: 50vh;
}

.light-box:before {
    background: radial-gradient(
        circle 12vmax at var(--cursorX) var(--cursorY),
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,.5) 80%,
        rgba(0,0,0,.85) 100%
    );
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}



/** Video  */

.video-active .side-bar, .video-active .header .logo-img {
    display: none;
}
.header .equis{
    display: none;
    color: white;
}
.video-active .header .equis{
    display: block;   
}


/* Main Section */

.main-section {
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('../assets/img/home.jpg');*/
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.main-section .text-box {
    color: #FFFFFF;
    font-family: 'Gotham Black';
    font-size: 4em;
    width: 75%;
}

.main-section .text-box .text {
    margin: 0;
}

.main-section .text-box p:nth-child(2) {
    color: transparent;
    font-size: 1.3em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F1DA00;
}

.main-section .text-box p:nth-child(3) {
    font-size: 0.8em;
}

.main-section .hashtag-text {
    bottom: 2%;
    color: #F1DA00;
    font-size: 1.2em;
    position: absolute;
    text-shadow: 1px 0 #FFFFFF;
    z-index: 4;
}

.main-section .scroll-text {
    bottom: 0;
    color: #F1DA00;
    font-size: 1.2em;
    left: 50%;
    padding: 10px;
    position: absolute;
    z-index: 4;
}
.scroll-line {
    background-color: rgb(109, 99, 0);
    height: 70px;
    width: 1px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
    margin: 0px auto 20px;

    position: absolute;
    left: 50%;
    bottom: 0;
    border-width: 0px;
}
.scroll-line::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 1px;
    height: 75px;
    background-color: rgb(241, 218, 0);
    animation: 4s ease 0s infinite normal both running loopVertical;
}

@keyframes loopVertical{
    0%{
        top: -75px;
    }
    100%{
        top: 75px
    }
}
.social-list .social-item{
    background: linear-gradient(to top, rgb(241, 218, 0) 50%, rgb(74, 74, 74) 50%) right top / 200% 200%;
    background-position: right top;
    transition: all 0.5s ease 0s;    
}
.social-list .social-item:hover{
    background-color: rgb(241, 218, 0);
    color: rgb(0, 0, 120) !important;
    background-position: left bottom;
}

/*Experinece Section*/
.experience-section {
    background-color: #000000;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 3;
}

.experience-section .text-box {
    color: #FFFFFF;
    font-family: 'Gotham Black';
    font-size: 7em;
    width: 100%;
}

.experience-section .text-box .text {
    margin: 0;
}

.experience-section .text-box p:first-child {
    color: transparent;
    font-size: 1.6em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F1DA00;
}

/*Forence Section*/
.forence-section {
    background-color: black;
    flex-direction: column;
    justify-content: center;
    position: unset;
    z-index: 11;
}

.forence-section .transparent-menu {
    height: 2.5em;
    position: absolute;
    right: 7%;
    top: 6%;
    width: 5em;
    z-index: 6;
}

.forence-section .text-box {
    color: #F1DA00;
    font-size: 2.7em;
    text-align: justify;
    width: 100%;
}

.forence-section .text-box .text {
    position: relative;
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
    width: 45%;
}

.forence-section .img-forence {
    display: inline-block;
    height: auto;
    margin: 20px;
    vertical-align: middle;
    width: 45%;
}

/* Resources section */

.resources-section {
    background-color: #000000;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.resources-section .text-box {
    color: #FFFFFF;
    font-family: 'Gotham Black';
    font-size: 2.4em;
    text-align: justify;
    width: 100%;
}

.resources-section .text-box .resources-text {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    margin-left: 20%;
}

.resources-section .text-box .resources-text .text {
    margin: 0;
    vertical-align: middle;
}

.resources-section .text-box .resources-text .text:nth-child(3) {
    font-size: 1.6em;
}

.resources-section .text-box .resources-text .text:nth-child(4) {
    font-family: 'Gotham ExtraLight';
}

.resources-text .big-text{
    -webkit-text-stroke-color: #F1DA00;
    -webkit-text-stroke-width: 2px;
    color: transparent;
    font-size: 2.5em;
}

.resources-text .big-text:nth-child(2){
    font-size: 4em;
}

.resources-section .img-forence {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width: 20%;
}

/* Services Section */

.section.services-section {
    /*background-color: #F1DA00;*/
    padding: 0;
    margin: 0;
    width: 100%;
}

.services-section .separator {
    background-color: #FFFFFF;
    width: 7%;
    height: 100%;
    -webkit-box-shadow: 10px 6px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 17px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

.services-section .separator2 {
    background-color: #e7d100;
    width: 3%;
    height: 100%;
    -webkit-box-shadow: 10px 6px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 17px 0px rgba(0,0,0,0.75);
    z-index: 1;
}

.services-section .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('../assets/img/fondo2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin-left: 0%;
    padding-left: 0%;
    padding-top: 3%;
}

.services-section .content .text{
    color: #FFFFFF;
    text-align: justify;
    width: 50%;
    margin: 0;
    text-shadow: 3px 3px 4px black;
    z-index: 4;
}

.services-section .content .text:nth-child(2){
    font-size: 7.5em;
    font-family: 'Gotham Black';
    -webkit-text-stroke-color: #F1DA00;
    -webkit-text-stroke-width: 2px;
    text-shadow: none;
    color: transparent;
}

.services-section .content .text:nth-child(3){
    font-size: 7.5em;
    font-family: 'Gotham Black';
}

.services-section .content .text:nth-child(4){
    font-size: 2.5em;
}

.btn-services {
    background-color: #F1DA00;
    text-decoration: none;
    border-color: transparent;
    width: 380px;
    font-size: 2em;
    padding: 20px;
    border-top-left-radius: 12% 50%;
    border-bottom-left-radius: 12% 50%;
    border-top-right-radius: 12% 50%;
    border-bottom-right-radius: 12% 50%;
}

.services-btn {
    margin-top: 50px;
    width: 50%;
    text-align: center;
    z-index: 4;
}

/* Special Services Section */
.section.special-services-section {
    background-color: #F1DA00;
    padding: 0;
    margin: 0;
    width: 100%;
}

.special-services-section .separator {
    background-color: #FFFFFF;
    width: 7%;
    height: 100%;
    z-index: 2;
    -webkit-box-shadow: -10px 6px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 6px 17px 0px rgba(0,0,0,0.75);
    box-shadow: -10px 6px 17px 0px rgba(0,0,0,0.75);
}

.special-services-section .content {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('../assets/img/fondo3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 91%;
    margin-right: 2%;
}

.special-services-section .content .text-box {
    position: absolute;
    top: 40%;
    padding: 0% 10%;
    font-size: 2em;
    width: 80%;
}

.special-services-section .content .text{
    color: #FFFFFF;
    text-align: justify;
    font-family: 'Gotham Black';
    margin: 0;
    text-shadow: 3px 3px 4px black;
}

.special-services-section .content .text:nth-child(2){
    font-size: 2.6em;
}

.special-services-section .content .text:nth-child(3){
    font-size: 4em;
    -webkit-text-stroke-color: #F1DA00;
    -webkit-text-stroke-width: 2px;
    color: transparent;
    text-shadow: none;
}

.special-services-section .content .text:nth-child(4){
    width: 60%;
    font-family: 'Gotham ExtraLight';
    float: right;
    font-size: 1.2em;
}

/* Ally Section */

.ally-section {
    background-color: #000000;
    position: relative;
    z-index: 2;
    padding: 0;
    margin: 0;
    width: 100%;
}

.ally-section .text-box {
    position: absolute;
    top: 30%;
    left: 7%;
    font-size: 2.5em;
    font-family: 'Gotham Black';
    color: #F1DA00;
    text-align: justify;
    width: 43%;
}

.ally-section .text-box .text {
    margin: 0;
}

.ally-section .text-box .text:first-child {
    font-size: 4.4em;
    -webkit-text-stroke-color: #FFFFFF;
    -webkit-text-stroke-width: 2px;
    color: transparent;
}

.ally-section .text-box .text:nth-child(2) {
    font-size: 1.7em;
}

.ally-section .text-box .text:nth-child(3) {
    font-family: 'Gotham ExtraLight';
}

.ally-section .img-box {
    position: absolute;
    bottom: 5%;
    right: 15%;
    width: 30%;
}

.ally-section .img-box img {
    width: 100%;
    height: auto;
}

/* Regards Section */

.regards-section {
    background-color: #000000;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.regards-section .text-box {
    color: #FFFFFF;
    font-size: 3em;
}

.st0 {
    fill: none;
    stroke: #CCD500;
    stroke-width: 10;
}

.st1 {
    fill: #000000;
}

.st2 {
    fill: #000000;
    stroke-miterlimit: 10;
}

@media only screen and (max-width: 1824px) {
    .main-section .text-box {
        font-size: 3em;
    }

    .experience-section .text-box {
        font-size: 6em;
    }

    .forence-section .text-box {
        font-size: 2.4em;
    }

    .resources-section .text-box {
        font-size: 1.7em;
    }

    .services-section .content {
        font-size: 0.8em;
    }

    .special-services-section .content .text-box {
        font-size: 1.6em;
    }

    .ally-section .text-box {
        font-size: 2em;
    }

    .regards-section .text-box {
        font-size: 2.8em;
    }
}

@media only screen and (max-width: 1224px) {
    .main-section .text-box {
        font-size: 2.5em;
    }

    .experience-section .text-box {
        font-size: 4.5em;
    }

    .forence-section .text-box {
        font-size: 2em;
    }

    .resources-section .text-box {
        font-size: 1.3em;
    }

    .services-section .content {
        font-size: 0.6em;
    }

    .special-services-section .content .text-box {
        font-size: 1.2em;
    }

    .ally-section .text-box {
        font-size: 1.8em;
    }

    .regards-section .text-box {
        font-size: 2.3em;
    }
}

@media only screen and (max-width: 1024px) {
    .main-section .text-box {
        font-size: 2.2em;
    }

    .experience-section .text-box {
        font-size: 3.5em;
    }

    .forence-section .text-box {
        font-size: 1.8em;
    }

    .resources-section .text-box {
        font-size: 1.1em;
    }

    .services-section .content {
        font-size: 0.5em;
    }

    .special-services-section .content .text-box {
        font-size: 0.9em;
    }

    .ally-section .text-box {
        font-size: 1.6em;
    }

    .regards-section .text-box {
        font-size: 2.1em;
    }
}

@media only screen and (max-width: 640px) {

    section.hero button.play{
        width: 100px !important;
        height: 115px !important;

    }
    section.hero button.play span.watch{
        width: 70px !important;
        height: 70px !important;
    }
    section.hero button.play span.play{
        width: 90px !important;
        height: 90px !important;
    }
    section.hero h1{
        font-size: 1.1em !important;
    }
    .main-section .text-box {
        font-size: 1.6em;
        width: 87%;
    }

    .main-section .scroll-line{
        bottom: 10%;
    }
    .main-section .scroll-text{
        font-size: 1em;
        bottom: 11%;
    }

    .main-section .hashtag-text {
        bottom: 15%;
        font-size: 0.8em;
    }

    .experience-section .text-box {
        font-size: 1.6em;
    }

    .forence-section .text-box {
        font-size: 1.2em;
    }

    .forence-section .text-box .text {
        width: 100%;
        margin: 0;
    }

    .forence-section .img-forence {
        width: 100%;
        margin: 0;
    }

    .resources-section .text-box {
        font-size: 1em;
        text-align: center;
    }

    .resources-section .img-forence {
        width: 50%;
    }

    .resources-section .text-box .resources-text {
        width: 100%;
        margin: 0;
    }

    .resources-text .big-text:nth-child(2) {
        font-size: 3.5em;
    }

    .services-section .content {
        font-size: 0.4em;
    }

    .services-section .content .text {
        width: 90%;
    }

    .special-services-section .content .text-box {
        font-size: 1.2em;
    }

    .special-services-section .content .text:nth-child(4) {
        width: 100%;
    }

    .special-services-section .content .text:nth-child(3) {
        font-size: 1.5em;
    }

    .special-services-section .content .text:nth-child(2) {
        font-size: 2em;
    }

    .section.ally-section {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    .ally-section .text-box {
        font-size: 1em;
        left: unset;
        position: relative;
        text-align: center;
        top: unset;
        width: 100%;
    }

    .ally-section .img-box {
        bottom: unset;
        position: relative;
        right: unset;
        width: 100%;
    }

    .ally-section .img-box img {
        width: 90%;
    }

    .regards-section .text-box {
        font-size: 1.5em;
    }

    .btn-services {
        width: 270px;
    }
}