/*Menú home*/


    .cursor{
        position: fixed;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
        
        transform: translate(-50%, -50%);
        pointer-events: none;
        mix-blend-mode: difference;
    }
    .navigation{
        cursor: none;
    }
    .navigation ul:hover ~ .cursor{
        transform: scale(2);
        /*transition: 0.1s;*/
    }
    .side-bar {
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        -webkit-transition: 1s;
        top: 6%;
        position: fixed;
        right: 7%;
        text-align: right;
        transition: 1s;
        z-index: 13;
    }
    .header {
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        -webkit-transition: 1s;
        top: 2%;
        padding: 1% 7%;
        position: fixed;
        transition: 1s;
        z-index: 10;
        width: 25%;
    }
    .tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 5em;
  height: 2.5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  right: -50%;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  right: 0;
  background: #f1da00;
}


.tgl-ios + .tgl-btn {
    position: absolute;
    background: #f1da00;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #f1da00;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #000000;
  transition: right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #000000;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}
 .hamburger {
        position: absolute;
        top: 18px;
        right: 8px;
        width: 25px;
        height: 3px;
        background: #f1da00;
            display: block;
            transform-origin: center;
            transition: .5s ease-in-out;
            z-index: 5;

    }

    .hamburger:after,
    .hamburger:before {
        background: #f1da00;
        content: "";
        display: block;
        transition: .5s ease-in-out;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .hamburger:before {
        top: -8px;
    }

    .hamburger:after {
        bottom: -8px;
    }

    /*input {
        display: none;
    }*/

    input:checked ~ label .menu {
        box-shadow: 0 0 0 130vw #fff, 0 0 0 130vh #fff;
    }

    input:checked ~ label .hamburger {
        transform: rotate(45deg);
        left: 8px;
        background: #000000;
    }

    input:checked ~ label .hamburger:after {
        transform: rotate(90deg);
        top: 0;
        background: #000000;
        /*left: -100%;*/
    }

    input:checked ~ label .hamburger:before {
        transform: rotate(90deg);
        top: 0;
        background: #000000;
        /*left: -100%;*/
    }

    input:checked ~ ul {
        opacity: 1;
    }

    .btn-menu {
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        -webkit-transition: 1s;
        background: #F1DA00;
        border-color: transparent;
        border-top-left-radius: 25% 50%;
        border-bottom-left-radius: 25% 50%;
        border-top-right-radius: 25% 50%;
        border-bottom-right-radius: 25% 50%;
        cursor: pointer;
        height: 40px;
        width: 80px;
        transition: 1s;
    }

    .btn-menu-active {
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        -webkit-transition: 1s;
        background-color: #000000;
        border-color: #F1DA00;
        transition: 1s;
    }

    .btn-menu > .fas {
        border-radius: 50%;
        font-size: 1.6em;
        height: 35px;
        line-height: 35px;
        width: 35px;
    }

    .btn-menu > .fa-bars {
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
        -webkit-transition: 1.5s;
        background-color: #000000;
        color: #F1DA00;
        float: right;
        transition: 1.5s linear;
    }

    .btn-menu > .fa-times {
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
        -webkit-transition: 1.5s;
        background-color: #F1DA00;
        color: #000000;
        float: left;
        transition: 1.5s linear;
    }

    #check-menu {
        display: none;
    }
    .social-list .follow > span {
        line-height: 50px;
    }
    .social-list {
        font-family: 'Gotham Black';
        font-size: 1.1em;
        list-style: none;
    }
    
    .social-list .follow {
        background-color: #F1DA00;
        border-bottom-left-radius: 50% 12%;
        border-bottom-right-radius: 50% 12%;
        border-top-left-radius: 50% 12%;
        border-top-right-radius: 50% 12%;
        height: 150px;
        margin-top: 50px;
        text-align: center;
        transform: rotate(180deg);
        width: 50px;
        writing-mode: vertical-lr;
    }
    .social-list .social-item {
        background-color: #5C5C5C;
        border-radius: 50%;
        height: 50px;
        margin-top: 5px;
        text-align: center;
        width: 50px;
    }
    .social-list .social-item {
        background: linear-gradient(to top, rgb(241, 218, 0) 50%, rgb(74, 74, 74) 50%) right top / 200% 200%;
        background-position: right top;
        transition: all 0.5s ease 0s;
    }
    .social-list .social-item > a {
        color: #FFFFFF;
        font-size: 1.5em;
        line-height: 55px;
    }
    .social-list .social-item:hover {
        background-color: rgb(241, 218, 0);
        color: rgb(0, 0, 120) !important;
        background-position: left bottom;
    }

    .menu-section {
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
        -webkit-transition: 1.5s;
        background-color: #000000;
        display: flex;
        height: 100%;
        opacity: 0;
        overflow-y: scroll;
        position: fixed;
        transition: 0.33s;
        visibility: hidden;
        width: 100%;
        z-index: 13;
    }
    .menu-section {
        background-color: ghostwhite !important;
    }
    .separator{
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .navigation{
            margin: 0;
            padding: 0;
            box-sizing:border-box;
            font-family: 'Poppins', sans-serif;

            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            overflow: hidden;
            width: 84vw;
        }
        .navigation ul{
            position: relative;
        }
        .navigation ul li{
            text-align: center;
            list-style: none;
        }
        .navigation ul li a{
            color: #333;
            text-decoration: none;
            font-size: 3em;
            padding: 5px 20px;
            display: inline-flex;
            font-weight: 700;
            transition: 0.5;
            cursor: none;
        }
        .navigation ul:hover a{
            color: #0002;
        }

        .navigation ul li:hover a{
            color: #000;
            background: #fff;
        }
        .navigation ul li a:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3em;
            color: rgb(0,0,0,.1);
            border-radius: 50%;
            z-index: -1;
            opacity: 0;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 80px;
            transition: letter-spacing 0.5s, left 0.5s;
        }
        .navigation ul li a:hover:before{
            content: attr(data-text);
            opacity: 1;
            left: 50%;
            letter-spacing: 10px;
            width: 1800px;
            height: 1800px
        }
        .navigation ul li:nth-child(6n+1) a:before{
            background: dimgrey;
        }
        .navigation ul li:nth-child(6n+2) a:before{
            background: yellow;
        }
        .navigation ul li:nth-child(6n+3) a:before{
            background: whitesmoke;
        }
        .navigation ul li:nth-child(6n+4) a:before{
            background: #a29bfe;
        }
/* Menu Section */

.menu-section {
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transition: 1.5s;
    background-color: #000000;
    display: flex;
    height: 100%;
    opacity: 0;
    overflow-y: scroll;
    position: fixed;
    transition: 0.33s;
    visibility: hidden;
    width: 100%;
    z-index: 12;
}

.menu-section.isVisible {
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transition: 1.5s;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear, opacity 0.33s linear;
}

.menu-section .separator {
    background-color: #F1DA00;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: sticky;
    top: 0;
}

.menu-section .separator .title {
    height: 70%;
    display: flex;
    justify-content: center;
}

.menu-section .separator h1 {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    font-size: 2.1vw;
    margin: 25px;
}

.menu-section .separator .hashtag-text {
    font-size: 1.5vw;
    text-align: center;
    padding: 0px 15px;
    top: 0px;
    position: relative;
}

.menu-section .separator .social-list {
    text-align: center;
}

.menu-section .separator .social-item {
    display: inline-block;
}

.menu-section .separator .follow-container {
    text-align: center;
}

.menu-section .separator .follow {
    background-color: black;
    border-bottom-left-radius: 12.5% 50%;
    border-bottom-right-radius: 12.5% 50%;
    border-color: transparent;
    border-top-left-radius: 12.5% 50%;
    border-top-right-radius: 12.5% 50%;
    color: #F1DA00;
    font-size: 1vw;
    padding: 10px 20px;
}