/*buscador*/


#content {
  position: absolute;
  height: 50px;
  width: 80%;
  /*margin-left: 170px;*/
  /*top: 50%;*/
  left: 90%;
  /*transform: translate(-50%, -50%);*/
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  box-sizing: border-box;
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.input::placeholder {
  color: #2A292A;
  
}
.square::placeholder {
  color: #656565;
  
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 20px;
  width: 100%;
  height: 50px;
  border: 2px solid #ffffff;
    border-radius: 50px;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}


/*menu aside*/


#menu-section-services {
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transition: 1.5s;
    background-color: #2A292A;
    display: flex;
    height: 100%;
    /*opacity: 0;*/
    overflow-y: scroll;
    position: fixed;
    transition: 0.33s;
    /*visibility: hidden;*/
    width: 100%;
    z-index: 10;
    left:-100vw ;
    overflow: hidden;
}
/*
.menu-section-services{
    left:-100vw !important;
}*/
#menu-section-services.isVisible{
    /*left:0vw !important;*/
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transition: 1.5s;
    visibility: visible;
    left: 3vw;
    overflow-y: auto;
    opacity: 1;
    transition: left 0vw linear, overflow 1s linear;
}
#menu-section-services .content {
    background-color: #2A292A;
    color: #FFFFFF;
    padding: 5% 5%;
}

#menu-section-services .content .category {
    margin-top: 35px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    opacity: 0;
    visibility: hidden;
    top: 20px;
    position: relative;
}
    #menu-section-services.isVisible .content .category {
        visibility: visible;
        opacity: 1;
        top: 0px;
        transition: visibility 0s linear, opacity 0.53s linear, top 0.33s linear;
        transition-delay: 1.1s;
    }

#menu-section-services .content .category .service {
    color: #F1DA00;
    flex-basis: 400px;
    margin: 1%;
}

#menu-section-services .content .category .service-title {
    color: #FFFFFF;
    display: inline-block;
    font-size: 1vw;
    margin: 0;
}

#menu-section-services .content .category .bullet-service {
    color: #F1DA00;
}

#menu-section-services .content .category .service-items {
    list-style: none;
    font-size: 0.9vw;
    font-weight: bold;
}

#menu-section-services .content .category .service-item {
    color: #FFFFFF;
    margin: 2%;
    cursor: pointer;
}

#menu-section-services .content .category .service-item span {
    color: #afacac;
}

#menu-section-services .content .category .service-item a {
    all: unset;
    color: #F1DA00;
}


.menu-services{
    width: 4em;
    position: fixed;
    z-index: 11;
    height: 100vh;
    
}
    .menu-services.claro {
        background-color: #e0e0e0;    
    }
    .menu-services.oscuro {
        background-color: #40404066;
    }

.menu-services .logo img{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    padding: 1em;
    opacity: 1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
    .menu-services.claro .logo-aside{
        content: url("../assets/img/LogoNegro.png");
    }
    .menu-services.oscuro .logo-aside{
        content: url("../img/logo2.png");      
    }
.menu-services .menu-toggle {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1.25rem;
    height: 1.25rem;
    padding: 1em;
    top: 33vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
}
    .menu-services.claro .menu-toggle span{
        background-color: #364652;
    }
    .menu-services.oscuro .menu-toggle span{
        background-color: #d6d6d6;
    }
    .menu-services.oscuro nav{
        color: #364652;
    }
    .menu-services.oscuro nav{
        color: #d6d6d6;   
    }
.menu-toggle span {
    display: block;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    height: 2px;
}
.menu-toggle:hover span {
    width: 75%;
}
.menu-toggle span:nth-child(2) {
    width: 75%;
}
.menu-toggle:hover span:nth-child(2) {
    width: 100%;
}
.menu-toggle:hover span {
    width: 75%;
}


.menu-toggle.isActive span {
    position: absolute;
    margin-top: 0.5rem;
    width: 60%;
    background-color: #fff;
}

.menu-toggle.isActive span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.menu-toggle.isActive span:nth-child(2) {
    opacity: 0;
}
.menu-toggle.isActive span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-services .top {
    -webkit-transform: rotate(270deg) translate(0, 0%);
    transform: rotate(270deg) translate(0, 0%);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    pointer-events: none;
}

.menu-services nav{
    bottom: 2vh;
    /* padding: 1em; */
    width: 100%;
    position: absolute;
}


/*seccion */


.section {
    height: auto;
    overflow: hidden;
}
.photobox {
    margin: 0 auto;
  /*width: 500px;*/
  overflow: hidden;
  font-size: 0;
}

img {
  max-width: 100%;
  transition: transform 0.6s ease-in-out;
}

.photobox:hover img {
    transform: scale(1.05);
}

.service-banner{
    height: 100vh;
    flex-direction: column;
    font-size: 1vw;
    padding: 0% 0% 0% 7% !important;
}
    .service-banner.claro{
        background-color: #FFFFFF;    
    }
    .service-banner.oscuro{
        background-color: #1A191A;
    }


.contact-section .container {
    position: relative;
}

.footer {
    background-color: #F1DA00;
    color: #000000;
}
.service-intro {
    background-color: #FFFFFF;
    flex-direction: column;
    font-size: 1vw;
    height: 80vh;
}
.service-intro .row{
    margin: 13% 0%;
}


.service-subservice1 {
    background-color: #FFFFFF;
    flex-direction: column;
    font-size: 1vw;
    height: auto;
    padding-bottom: 10%;
    padding-top: 10%;
    border-bottom: 1px solid #F1DA00;
}
.service-subservice2 {
    background-color: #1A191A;
    color: white;
    flex-direction: column;
    font-size: 1vw;
    height: auto;
    padding-bottom: 10%;
    padding-top: 10%;
    border-bottom: 1px solid #F1DA00;
}
.service-section {
    background-color: #FFFFFF;
    flex-direction: column;
    font-size: 1vw;
    padding-bottom: 10%;
    padding-top: 10%;
    border-bottom: 1px solid #F1DA00;
}
.service-banner .breadcrumb-div{
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0px;
}
    .service-banner.claro .breadcrumb-div, .service-banner.claro .breadcrumb-div a{
        color: black;
    }
    .service-banner.oscuro .breadcrumb-div, .service-banner.oscuro .breadcrumb-div a{
        color: white;
    }
.breadcrumb {
    list-style: none;
    padding: 0;
    position: fixed;
}

.breacrumb-item {
    display: inline;
}

.breacrumb-item_active {
    font-weight: bold;
}

.service-banner .title {
    text-align: center;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 7%;

}
    .service-banner.claro .title {
        color: black;
    }
    .service-banner.oscuro .title {
        color: #F1DA00;
    }

.service-banner .title-image {
    width: 101%;
    object-fit: cover;
    /*height: 50rem;*/
    height: 100vh;
}

.service-banner .title-word {
    /*font-family: 'Gotham Black';*/
    font-family: Tilde, Helvetica, Arial, sans-serif;
    font-size: 4.5vw;
    margin: 0;
}

.service-banner .title-word_first {
    -webkit-text-stroke-width: 1px;
    
    font-size: 4vw;
}
    .service-banner.claro .title-word_first{
        -webkit-text-stroke-color: #000000;
        color: transparent;
    }
    .service-banner.oscuro .title-word_first{
        -webkit-text-stroke-color: #fff;
        color: transparent;
    }
.sub-title{
    font-size: 1.5vw;
    line-height: 1.875;
    font-weight: bold;
    text-align: justify;
}
.smoke-white{
    object-fit: cover;
    filter: brightness(1) invert(1);
    width: 50%;
    left: 45px;
    height: auto;
    position: absolute;
    top: -11px;
}
.smoke-black{
    object-fit: cover;
    width: 64%;
    right: 45px;
    height: auto;
    position: absolute;
    top: -68px;
    filter: brightness(1) invert(0.1);
}
.sub-title-service{
    font-size: 2vw;
    /*line-height: 0px;*/
    font-weight: bold;
    text-align: justify;
    font-family: 'Gotham Black';

    height: 15vh;
    padding-bottom: 30px;

}
.sub-title-service .fadingEffect{
    position:relative;
    top:0; bottom:0; right:0px;
    width:100%;
    height: 200%;
    width:50%; 
    right: -646px;
     opacity: 0;
    
    top: -150px;
    background-image: linear-gradient(to right, #ffffff00 0%, #ffffffd4 11%, white 20%, white 100%);
}
.description-text[data-scroll], h3[data-scroll],.fadingEffect[data-scroll] {
    transition: all 2s;
}
.description-text[data-scroll="in"], h3[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
}
.description-text[data-scroll="out"],h3[data-scroll="out"] {
    opacity: 0;
    transform: translateY(50px);
}
.fadingEffect[data-scroll="in"]{
    width:50%; right: -646px; opacity: 0.1;
    /*-moz-animation: showHide 1.5s ease-in alternate forwards  ; /* Firefox */*/
    /*-webkit-animation: showHide 1.5s ease-in alternate forwards ; /* Safari and Chrome */*/
    /*-ms-animation: showHide 1.5s ease-in alternate forwards  ; /* IE10 */*/
    /*-o-animation: showHide 1.5s ease-in alternate forwards  ; /* Opera */*/
    /*animation: showHide 1.5s ease-in alternate forwards  ;*/
}
.fadingEffect[data-scroll="out"]{
    right: 0px; width:100%; opacity: 1;
}
.fadingEffect.black{
    /*background-image: linear-gradient(to right, #00000000 0%, #000000d4 11%, black 20%, black 100%);    */
    background-image: linear-gradient(to right, #00000000 0%, #000000d4 11%, #1A191A 20%, #1A191A 100%);
    

}

@-webkit-keyframes showHide { /* Chrome, Safari */
    0% {right: 0px;opacity: 1}
    50% {right: 25%; right: -323px; opacity: 1}
    100% {width:50%; right: -646px; opacity: 0}
}
@-moz-keyframes showHide { /* FF */
    0% {right: 0px;opacity: 1}
    50% {right: 25%; right: -323px; opacity: 1}
    100% {width:50%; right: -646px; opacity: 0}
}
@-o-keyframes showHide { /* Opera */
    0% {right: 0px;opacity: 1}
    50% {right: 25%; right: -323px; opacity: 1}
    100% {width:50%; right: -646px; opacity: 0}
}
@keyframes showHide {
    0% {right: 0px;opacity: 1}
    50% {right: 25%; right: -323px; opacity: 1}
    100% {width:50%; right: -646px; opacity: 0}
}

.sub-title-service h2{
    position: relative;
    /*letter-spacing: .5rem;*/
}
.sub-title-service.right{
    text-align: end;
}
.description {
    font-size: 2.3vw;
    line-height: 1.875;
    font-weight: bold;
    text-align: justify;
}
.img-service{
    position: relative;    
}
.img-service img{
    width: 95%;
    z-index: 1;
    position: relative;
}
.img-service.right img{
    right: -37px;
}
.number-service{
    position: absolute;
    font-size: 6em;
    font-family: 'Gotham Black';
    color: grey;
    right: 0px;
    top: -125px;
    font-weight: bolder;
    line-height: 0px;
}
    .number-service.left {
        right: none;
        left: 0px;
    }
.sub-description{
    display: table;
    height: 100%;
}
.sub-description .description-text{
    display: table-cell;
    vertical-align: middle;
    line-height: 1.6em;
    font-size: 1.2em;
}

.items-subservice{
    height: 100vh !important;
}
.swiper-wrapper{
    height: 100vh;
}
.item-subservice{
    height: 100vh;
}
.items-subservice>div{
    padding: 0rem 3rem;
    margin: 1.5rem 0rem;
    position: relative;
    border-right: 1px solid #F1DA00;
}

.items-subservice h3{
    font-size: 1.3rem;
    line-height: 1.8rem;
    height: 17vh;
}
.items-description{
    line-height: 1rem;
}
.items-img{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    position: absolute;
    bottom: 0px;
}
.items-subservice img{
    width: 80%;
}
.subservices {
    display: flex;
    flex-flow: row wrap;
    margin: 0px -8.5%;
}

.subservices-item {
    color: #000000;
    display: flex;
    padding: 2% 7%;
    text-decoration: none;
    z-index: 1;
}

.subservices-item-image {
    width: 5%;

}

.subservices-item-text {
    display: inline;
    margin-left: 2%;
}

.subservices-item-text-num {
    color: #F1DA00;
    font-family: 'Gotham Black';
    font-size: 2vw;
}

.subservices-item-text-title {
    font-size: 1.5vw;
}

.subservices-item-text-title_bold {
    font-family: 'Gotham Black';
    font-size: 2.5vw;
}

.subservices-item:hover {
    background-color: #F1DA00;
}

.subservices-item:hover .subservices-item-text-num {
    color: #000000;
}

.header, .side-bar {
    position: absolute;
}

.svg-first-ellipse {
    height: 100%;
    z-index: 0;
}

.svg-first-ellipse .path-ellipse {
    stroke: #000000;
}

@media only screen and (max-width: 640px) {

    .header {
        width: 15%;
    }

    .service-section {
        font-size: 3vw;
        padding-top: 25%;
    }

    .title-image {
        width: 15%;
    }

    .title-word {
        font-size: 17vw;
    }

    .title-word_first {
        font-size: 13vw;
    }

    .description {
        font-size: 5vw;
    }

    .subservices-item {
        -moz-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
        border: 1px solid #F1DA00;
        box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
        padding: 4% 7%;
    }

    .subservices-item-text-num {
        font-size: 3.5vw;
    }

    .subservices-item-image {
        width: 10%;
    }

    .subservices-item-text-title {
        font-size: 2.5vw;
    }

    .subservices-item-text-title_bold {
        font-size: 3.5vw;
    }

    /*SVG ELLIPSES*/
    .svg-first-ellipse {
        height: 60%;
    }
}



/*INICIO: Flecha menu*/
#scroll-down {
    display: block;
    position: relative;
    padding-top: 79px;
  text-align:center;
}
.arrow-down {
    display: block;
    margin: 0 auto;
    width: 12px;
    height: 38px;
}
.arrow-down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 12px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    behavior: url(-ms-transform.htc);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-animation: fadeArrow 2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    -moz-animation: fadeArrow 2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    -o-animation: fadeArrow 2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    animation: fadeArrow 2s cubic-bezier(1, 0, 0, 1) infinite;

}

#scroll-down::before {
    -webkit-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    
    -moz-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    
    -o-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    
    animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
    
    position: absolute;
    top: 4px;
    left: 50%;
    margin-left: 0px;
    width: 1px;
    height: 90px;
    background: white;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes fadeArrow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#paschka {
  display: block;
  color:white;
  font-family:helvetica neue, helvetica, arial;
  font-size:32px;
  text-decoration: none;
  position: fixed;
  bottom:0px;
  right:0px;
  padding:0px;
  transition: all .1s ease;
  background:#000;
  height:40px;
  line-height:30px;
  vertical-align:middle;
  width:40px;
  text-align:center;
  border-radius: 5%;
  bottom:20px;
  right:20px;
  
  &:hover {
    background:#232323;
    transition:all .1s ease;
    color:#f0f0f0;
  }
}